* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: #000;
}
.container {
    max-width: 1170px;
    padding: 0;
}
section {
    padding-top: 90px;
    padding-bottom: 80px;
}
section#happy-clients, section#premium {
    padding-top: 60px;
}
h2, h3, p.section-subheading, a.button {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
h2.section-heading {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
}
h3 {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 18px;
}
h2.section-heading.dark-bg {
    color: #fff;
}
p.section-subheading {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 14px;
    color: #aeaeae;
}
p.text {
    color: #242424;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}
a:hover {
    text-decoration: none;
    color: #fff;
}
.button {
    display: block;
    width: 194px;
    height: 45px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 45px;
    color: #fff;
    background-color: #b88b58;
    border-radius: 20px;
}
.button:active {
    background-color: #000;
}
@media (max-width: 460px) {
    .button {
        width: 144px;
        height: 33px;
        line-height: 33px;
    }
}
ul {
    list-style: none;
    margin-bottom: 0;
}


/*Navigation*/

.nav-container {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #000;
    z-index: 999;
}
nav.container.navbar {
    padding: 6px 30px;
}
nav a.nav-link {
    margin-right: 6px;
    padding: 25px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
nav a.nav-link:last-child {
    margin-right: 0;
}
button.navbar-toggler:focus{
    outline: none !important;
}
.navbar-toggler-icon.custom-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
button.navbar-toggler:focus .navbar-toggler-icon.custom-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(184,139,88, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
@media (max-width: 991px) {
    nav.container.navbar {
        padding: 14.5px 0px 14.5px 30px;
    }
    button.navbar-toggler {
        margin-right: 30px;
    }
    div.navbar-collapse {
        margin-top: 8px;
    }
    ul.navbar-nav {
        width: 313px;
        padding-left: 50px;
        height: calc(100vh - 80px);
        background-color:rgba(0,0,1,0.9);
        z-index: 999;
    }
    nav a.nav-link {
        padding: 15px 0 15px 50px;
    } 
}
 @media (max-width: 460px) { 
    ul.navbar-nav {
        width: 60%;
    }
} 



/*Home Section*/

#home {
    width: 100%;
    height: 100%;
    background-image: url(images/Bg_img_01.png);
    background-position: center;
    background-size: cover;
}
#home span.home-title {
    display: block;
    font-size: 72px;
    line-height: 69px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
#home span.home-title:first-child {
    color: #fff;
}
#home span.home-title:last-child {
    color: #b88b58;
}
#home .home-contact {
    display: flex;
    margin: 29px 0 34px;
    font-size: 24px;
    line-height: 18px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
@media (max-width: 768px) {
    #home span.home-title {
        font-size: 48px;
        line-height: 46px;
    }
}
@media (max-width: 460px) {
    #home span.home-title {
        font-size: 30px;
        line-height: 30px;
    }
    #home .home-contact {
        display: block;
        margin: 20px 0 26px;
        font-size: 18px;
        line-height: 18px;
    }
    #home .home-contact p{
        margin-bottom: 6px;
    }
}



/*About-us Section*/


#about-us a.button {
    margin: 30px auto 0 0;
}
.about-us-video {
    width: 100%;
    filter: drop-shadow(0px 13px 12px rgba(0,0,1,0.42));
}
@media (max-width: 768px) {
    #about-us a.button {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 768px) and (min-width: 461px) {
    #about-us p.text {
        margin-top: 55px;
    }
    #about-us div.content {
        flex-direction: column-reverse;
    }
    #about-us a.button {
        margin-top: 40px;
    }
}
@media (max-width: 460px) {
    #about-us a.button {
        margin-bottom: 50px;
    }
}



/*Services Section*/

#services {
    padding-bottom: 40px;
    background-color: #000;
}
li.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#services h3 {
    margin: 35px 0 8px 0; 
    color: #fff;
}
#services img {
    height: 58px;
}
#services .service p.section-subheading {
    margin: 0;
    text-transform: none;
}
@media (min-width: 1200px) {
    li.service {
        height: 209px;
        border-left: 1px solid #bebebe;
    }
    li.service:last-child {
        border-right: 1px solid #bebebe;
    }
}
@media (max-width: 1199px) and (min-width: 576px) {
    ul.content {
        margin-bottom: 30px;
    }
    li.service {
        height: 185px;
    }
    li.service:nth-child(odd) {
        border-right: 1px solid #bebebe;
    }
}
@media (max-width: 575px) {
    ul.content {
        display: block;
    }
    li.service {
        width: 190px;
        margin: 0 auto 40px auto;
    }  
    li.service:last-child {
        margin: 0 auto;
    }
}



/*Our-projects Section*/
#our-projects {
    padding-bottom: 55px;
}
ul.projects-nav {
    display: flex;
    margin: 0 15px 37px 15px;
    padding: 4px 0;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 25px;
    background-color: #ededed;
    border: 1px solid #cfcfcf;
}
@media (min-width: 770px){
    ul.projects-nav {
        max-width: 710px;
    }
}
ul.projects-nav li {
    padding: 17px 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}
ul.projects-nav li:not(:last-child){
    border-right: 1px solid #cfcfcf;
}

@media (min-width:488px) and (max-width: 718px){
    ul.projects-nav li {
        padding: 17px 30px;
    }
}
@media (max-width: 427px){
    ul.projects-nav li {
        padding: 17px 15px;
    }
}
@media (max-width: 398px){
    ul.projects-nav li {
        padding: 17px 25px;
    }
}
@media (min-width: 567px) and (max-width: 718px){
    ul.projects-nav li:nth-child(4){
        border-right: none;
    }
}
@media (min-width: 399px) and (max-width: 566px){
    ul.projects-nav li:nth-child(3){
        border-right: none;
    }
}
@media (max-width: 398px){
    ul.projects-nav li:nth-child(2), ul.projects-nav li:nth-child(4){
        border-right: none;
    }
}
@media (max-width: 339px){
    ul.projects-nav li:nth-child(5){
        border-right: none;
    }
}
@media (max-width: 338px){
    ul.projects-nav li:nth-child(3){
        padding: 17px 26px;
        border-right: none;
    }
}
@media (max-width: 280px){
    ul.projects-nav li:first-child{
        padding: 17px 26px;
        border-right: none;
    }
}
#our-projects img {
    width: 100%;
    margin-bottom: 25px;
}



/*Our-team Section*/

#our-team {
    padding-bottom: 110px;
    background-image: url(images/Bg_image_team.png);
    background-position: center;
    background-size: cover;
}
#our-team .members {
    display: flex;
    margin: 0 15px;
    justify-content: center;
}
#our-team .member {
    width: 350px;
    text-align: center;
    margin: 0 15px;
    color: #242424;
    background-color: #fff;
}
@media (max-width: 1170px){
    #our-team .member:last-child {
        display: none;
    }
}
@media (max-width: 789px){
    #our-team .member:first-child {
        display: none;
    }
}
#our-team .member-avatar {
    margin: 48px 0 45px 0;
}
#our-team .member-name {
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
}
#our-team .member-position {
    font-size: 14px;
    margin-bottom: 35px;
}
#our-team .member-icons-container {
    display: flex;
    margin-bottom: 43px;
    justify-content: center;
}

.social-icon {
    width: 34px;
    height: 34px;
    margin: 0 2.5px;
    border-radius: 17px;
    color: #fff;
    background-color: #bebebe;
    text-align: center;
}
.social-icon .fab, .fas {
    color: #fff;
    font-size: 16px;
    line-height: 34px;
}



/*Happy-clients Section*/

#happy-clients {
    padding-bottom: 0;
    text-align: center;
    background-color: #f7f7f7;
}

#happy-clients .client-name {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
#happy-clients .client-position {
    font-size: 18px;
    margin-bottom: 30px;
}
#happy-clients p.text {
    margin: 16px 0 110px 0;
    color: #7e7e7e;
}
#clients-logos {
    padding: 0;
    background-color: #fff;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}
.clients-logos-container {
    height: 156px;
    display: flex;
    padding: 0 30px;
    justify-content: space-around;
}
.client-logo {
    display: flex;
    align-items: center;
}
@media (max-width: 1170px){
    .client-logo:last-child {
        display: none;
    }
}
@media (max-width: 991px){
    .client-logo:nth-child(5) {
        display: none;
    }
}
@media (max-width: 768px){
    .client-logo:nth-child(4) {
        display: none;
    }
}
@media (max-width: 460px){
    .client-logo:nth-child(3) {
        display: none;
    }
}



/*Price Section*/

#price {
    padding-bottom: 30px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #cfcfcf;
}
#price h2.price.section-heading {
    margin-bottom: 5px;
    letter-spacing: 1px;
    color: #242424;
}
#price div.price {
    margin-bottom: 30px;
    padding: 25px 0;
    background-color: #fff;
    text-align: center;
}
#price div.price p.section-subheading {
    margin: 0 0 15px 0;
    line-height: 21px;
    color: #242424;
}
#price p.text {
    margin-bottom: 20px;
    color: #aeaeae;
    text-transform: uppercase;
}
#price p.text.dark {
    margin:0;
    color: #7e7e7e;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    text-transform: none;
}
#price p.text.dark::after {
    content: "—";
    display: block;
}
#price .price p.text.dark:last-of-type::after {
    display: none;
}
#price a.button {
    width: 130px;
    margin: 20px auto 0;
    background-color: #373737;
}
#price a.button:active, #price li:last-of-type a.button {
    background-color: #b88b58;
}
#premium {
    padding-bottom: 60px;
}
#premium div.container {
    position: relative;
    margin-bottom: 115px;
}
#premium img.premium {
    width: 100%
}
#premium div.col-md-6 {
    padding-top: 15px;
}
#premium div.features-description{
    margin-top: 20px;
}
#premium .icon {
    text-align: right;
}
#premium .features {
    font-size: 21px;
    color: #242424;
    font-weight: 700;
    text-transform: uppercase;
}
#premium .features-text {
    margin-bottom: 5px;
    font-size: 14px;
    color: #5b5b5b;
}
#premium div.container::after {
    max-width: 1110px;
    width: calc(100% - 60px);
    content: "";
    display: block;
    position: absolute;
    left: 30px;
    margin-top: 25px;
    border-bottom: 1px solid #bebebe;
}



/*Some-facts Section*/

#some-facts {
    background-color: #000;
    padding-bottom: 30px;
}
#some-facts li {
    margin-bottom: 40px;
    text-align: center
}
#some-facts li .fact-description {
    height: 100px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 576px) {
    #some-facts li .fact-description {
        max-width: 178px;
    }
}
@media (max-width: 575px) {
    #some-facts li .fact-description {
        height: auto;
    }
}
#some-facts li h2{
    font-size: 48px;
    line-height: 48px;
    color: #b88b58;
    font-weight: 700;
}
#some-facts li h2::after {
    content: "—";
    display: block;
    font-size: 30px;
    line-height: 15px;
    color: #7e7e7e;
}
#some-facts li h3{
    color: #fff;
}
#some-facts li p{
    margin: 0;
    font-size: 12px;
    line-height: 21px;
    color: #7e7e7e;
}
#share, .tell-about-us, .social-media-icons, .social-media {
    display: flex;
    align-items: center;
}
#share {
    height: 75px;
    justify-content: center;
}
#share .social-media-icons {
    width: 425px;
    margin-left: 60px;
    justify-content: space-between;
}
#share .social-media:first-child .social-icon {
    background-color: #33c5ef;
}
#share .social-media:nth-child(2) .social-icon {
    background-color: #117bb3;
}
#share .social-media:nth-child(3) .social-icon {
    background-color: #336197;
}
#share .social-media:nth-child(4) .social-icon {
    background-color: #e74137;
}
#share .social-media:last-child .social-icon {
    background-color: #b71b29;
}
#share p {
    margin: 0;
    color: #aeaeae;
}
#share p.section-subheading{
    margin-left: 15px;
    padding: 0;
    font-weight: 600;
}
@media (min-width: 576px) and (max-width: 789px) {
    #share p.section-subheading{
        display: none;
    }
}
#share p.numbers {
    margin-left: 5px;
    font-size: 10px;
    font-weight: 700;
}
@media (max-width: 575px) {
    #share {
        height: 130px;
    }
    .tell-about-us img {
        display: none;
    }
    #share p.section-subheading{
        margin: 0 0 15px 0;
    }
    #share, .social-media {
        flex-direction: column;
    }
    #share .social-media-icons {
        width: 225px;
        margin-left: 0;
    }
    #share p.numbers {
        margin: 6px 0 0 0;
    }
}



/*Contact-us Section*/

#contact-us {
    padding-bottom: 70px;
    background-color: #f7f7f7;
    border-top: 1px solid #cfcfcf;
}
.input {
    width: 100%;
    font-size: 13px;
    line-height: 25px;
    color: #9e9e9e;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #adadad;
}
#contact-us .input {
    margin-bottom: 30px;
}
#contact-us div.row:last-of-type .input{
    margin-top: 20px;
    margin-bottom: 50px;
}
::placeholder {
    font-size: 13px;
    line-height: 25px;
    color: #9e9e9e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
input.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
}
input:focus, input.button:focus {
    outline: none;
}
.map {
    height: 415px;
    display: flex;
    position: relative;
    align-items: center;
    background-image: url(images/Map.png);
    background-size: cover;
    background-position: center;
}
@media (max-width: 789px) {
    .map {
        height: 415px;
        background-image: url(images/Map-small.png);
    }
}
@media (max-width: 575px) {
    .map {
        height: 260px;
    }
}
.map .container {
    position: absolute;
}
.address, .address-row, .address-row .social-icon {
    display: flex;
}
.address {
    height: 345px;
    padding: 55px 0 55px 40px;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
}
.address-row {
    align-items: center;
}
.address-row .social-icon {
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.address-row p {
    margin: 0 0 0 65px;
    font-size: 12px;
    line-height: 24px;
    color: #7e7e7e;
}
@media (max-width: 1200px) {
    .address-row p {
        margin-left: 18px;
    }
}
@media (max-width: 767px){
    .map{
        display: block;
        margin-bottom: 345px;
    }
    .map .container {
        display: flex;
        justify-content: center;
        bottom: -345px;  
    }
    .address {
        padding-left: 0;
    }
}
@media (max-width: 576px) {
    .map{
        margin: 345px 0 0 0;
    }
    .map .container {
        top: -345px;
        bottom: 345px;
    }
    .address {
        padding: 40px 0;
    }
}



/*Footer*/

footer {
    position: relative;
    background-color: #000;
    padding-bottom: 20px;
}
footer .col-12 {
    margin-top: 28px;
}
.footer-social-icons {
    display: flex;
    flex-shrink: 0;
}
@media (max-width: 767px) {
    .footer-social-icons {
        justify-content: center;
    }
}
footer .social-icon {
    background-color: #373737;
}
@media (min-width:768px) and (max-width: 940px) {
    footer .social-icon:nth-last-child(2) {
        display: none;
    }
}
@media (min-width:768px) and (max-width: 825px) {
    footer .social-icon {
        width: 32px;
        height: 32px;
    }
}
@media (max-width: 335px) {
    footer .social-icon:nth-last-child(2) {
        display: none;
    }
}
footer p { 
    margin: 0;
    font-size: 12px;
    line-height: 21px;
    color: #7e7e7e;
}
footer p.awax {
    position: absolute;
    bottom: 20px;
    margin-left: 30px;
    font-size: 14px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 600;
}
@media (max-width: 767px) {
    footer {
        padding-bottom: 45px;
    }
    footer p.awax {
        position: static;
        margin: 38px 0 0 0;
        text-align: center;
    }
}
footer form {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #373737;
    border-radius: 3px;
}
footer .input {
    width: 220px;
    margin-bottom: 28px;
    border-bottom-width: 1px;
}
@media (min-width: 768px) and (max-width: 870px){
    footer .input {
        width: 186px;
    }
}
footer ::placeholder {
    font-weight: 300;
    text-align: center;
}
